<!DOCTYPE html>
  <html lang="vi-VN">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="author" content="LocTran016" />
      <meta name="description" content="This store all my presentation at my school" />
      <meta property="og:description" content="All my presentations is here!" />
      <meta property="og:image" content="img/favicon.jpeg" />
      <meta name="twitter:title" content="LocTran016">
      <title>LocTran016</title>
      <link rel="manifest" href="/manifest.webapp">
      <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
      <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
      <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
      <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
      <link rel="shortcut icon" type="image/jpg" href="img/favicon.jpeg"/>
      <!-- External -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
      <script defer src="https://cdn.jsdelivr.net/npm/jquery@latest/dist/jquery.min.js"></script>
      <link defer rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@latest/dist/jquery.fancybox.min.css" />
      <script defer src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@latest/dist/jquery.fancybox.min.js"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@latest/font/bootstrap-icons.css">
      <!-- End -->
      <!-- Fonts -->
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">
      <!-- end -->
      <!-- build:css ../css/main.min.css defer-->
      <link href="../css/main.css" rel="stylesheet">
      <link href="../css/font.css" rel="stylesheet">
      <link rel="stylesheet" href="../css/cookie-banner.css">
      <!-- endbuild -->
      <!--build:js ../js/head.min.js defer-->
      <script src="../js/head.js"></script>
      <!-- endbuild -->
    </head>
    <body>
    <!-- Nav -->
    <nav class="navbar sticky-top navbar-expand-xl navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="img/favicon.png" alt="" width="30" height="30" 
          class="d-inline-block align-top" style="border-radius: 50%;">
          <span class="pacifico" style="font-size: larger;">LocTran016</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    </button>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Thuyết trình
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/presents/index.html">Slide<i class="bi bi-file-earmark-ppt"></i></a></li>
                <li><a class="dropdown-item" href="/post/index.html">Bài viết<i class="bi bi-file-post"></i></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <button id="fullScreenButton" class="btn text-nowrap" style="font-size: 1.5rem; color: rgb(255, 255, 255); font-weight: 500;"><i class="bi bi-fullscreen" id="fullscreen" aria-label="Toggle FullScreen"></i></button>
            </li>
            <li class="nav-item">
              <a class="nav-link" target="_blank" style="font-size: 1.5rem; color: rgb(255, 255, 255); font-weight: 500;" href="https://github.com/LocTran016/loctran016.github.io"><i class="bi bi-github"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End -->
    <br>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
        {%-for post in collections.all -%}
        {%-if post.data.tags !=== "slide" -%}
          <div class="col">
            <div class="card h-100">
              <a href="{{ post.url }}" class="text-decoration-none">
              <img src="{{ post.data.img }}" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title">{{ post.data.title }}</h5>
                <p class="card-text">{{ post.data.description }}</p>
                <span class="badge bg-success text-wrap fs-6 rounded-pill">{{ post.data.tags }}</span>
              </div>
              <div class="card-footer">
                  <small class="text-muted">Last updated {{ page.date.toUTCString() }}</small>
              </div>
              </a>
            </div>
          </div>
        {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
      <div class="nk-cookie-banner alert alert-dark text-center mb-0" role="alert">
    &#x1F36A; This website uses cookies to ensure you get the best experience on our website.
    <a href="https://www.cookiesandyou.com/" target="blank">Learn more</a>
    <button type="button" class="btn btn-primary btn-sm ml-3" onclick="window.nk_hideCookieBanner()">
      I Got It
    </button>
  </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/screenfull.js/5.1.0/screenfull.min.js" integrity="sha512-SGPHIoS+NsP1NUL5RohNpDs44JlF36tXLN6H3Cw+EUyenEc5zPXWqfw9D+xmvR00QYUYewQIJQ6P5yH82Vw6Fg==" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
      <!--build:js ../js/body.min.js defer -->
      <script defer src="../js/body.js"></script>
      <script defer src="../js/cookie-banner.js"></script>
      <!-- endbuild -->
    </body>
  </html>
  
